h1 {
  font-size: 40px;
  font-style: italic;
  color: white;
}


#btnPlay {
  font-family: 'Kameron';
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

body {
  text-align: center;
}

#timer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 95px;
  font-weight: 300px;
}


.btn {
  border-radius: 5px;
  font-size: 22px;
  text-decoration: none;
  margin: 30px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee;
}

.blue:hover {
  background-color: #6FC6FF;
}

.green {
  background-color: #2ecc71;
}

.green:hover {
  background-color: #48E68B;
}

.red {
  background-color: #e74c3c;
}

.red:hover {
  background-color: #FF6656;
}

#toggle {
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#reset {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#saveTime {
  background-color: blue;
  border-color: white;
  color: white;
  text-decoration: none;
  font-size: 10px;

}