body {
  text-align: center;
  margin-top: 200px;
  background-position: right 20px bottom 10px;
  position: absolute;

}

button {
  width: 100px;
  height: 35px;
}

h1 {
  font-size: 40px;
  font-style: italic;
  color: white;
}

#btnSignUp {
  font-family: 'Kameron';

  background-color: #4CAF50;
  border-color: white;
  border-radius: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

#btnSignOut {
  background-color: red;
  border-color: white;
  border-radius: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

#btnSignIn {

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

#buttonDiv {
  position: absolute;
  padding-top: 40px;
}

#btnPlay {
  font-family: 'Kameron';
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

body {
  text-align: center;
  margin-top: 200px;
}

#timer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 95px;
  font-weight: 300px;
}


.btn {
  border-radius: 5px;
  font-size: 22px;
  text-decoration: none;
  margin: 30px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
  background-color: #6FC6FF;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}

#toggle {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

#reset {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

#saveTime {
  background-color: blue;
  border-color: white;
  color: white;
  text-decoration: none;
  font-size: 10px;

}
